<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>About</title>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>


</head>
<body>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>About</h1>
    </div>

    <div class="col-sm-10 text-left">
        <br/>
        <p>This is a <b>Learning Analytics Tool </b> for the measurement, collection, analysis and reporting of data
            about learners and their contexts, for purposes of understanding and optimizing learning and the
            environments in which it occurs.</p>
        <p>Please note that all data about learners are gathered from <a href="https://policat.herokuapp.com/"> CAT Application </a> </p>
        <hr/>

    </div>
</div>
</body>
</html>