<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>View Users</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Users Progress</h1>
    </div>

    <ol class="breadcrumb">
        <li class="active">Users</li>
    </ol>

    <h2>View users progress</h2>
    <div class="users_list">
        <div class="domain" th:each="d : ${domains}">
            <form class="form-inline" method="post" th:action="@{/managedb/domain/rename}">
                <input type="hidden" name="id" th:value="${d.id}"/>
                <input type="text" class="form-control" title="Username" name="name" th:value="${d.name}"/>

                <a class="btn btn-primary" th:href="@{/managedb/domain/{id}(id=${d.id})}">View Progress</a>
            </form>
        </div>
    </div>

    <form class="form-inline" method="post" th:action="@{/managedb/domain/add}">
        <div class="form-group">
            <label for="name">Username</label>
            <input type="text" class="form-control" id="name" name="name"/>
        </div>
        <button type="submit" class="btn btn-default">View Metrics</button>
    </form>
</div>
</body>
</html>