<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Diagnostic Analytics</title>


</head>
<body>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Diagnostic Analytics</h1>
    </div>

    <div class="col-sm-10 text-left">
           <p>The purpose of the diagnostic analysis is not only to identify the strengths and the weakneasses,
            but also to investigate why the user has these weak points (perhaps a lack of
            information, a lack of practice or it is an isolated event, produced only once, caused
            by the lack of attention). </p>

    </div>
    <hr/>
</div>
</body>
</html>