<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Diagnostic Analytics</title>


</head>
<body>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Diagnostic Analytics</h1>
    </div>


    <div class="col-sm-12">
        <h3> Why did it happen? </h3>
        <p> Let's identify your weakneasses: your lowest score and all the marks under the median.
            The median is the value separating the higher half of users marks from the lower half.
            For our data set, it may be thought of as the "middle" value.
            Let's see why you have these weak points: perhaps a lack of
            information, a lack of practice or it is an isolated event, produced only once, caused
            by the lack of attention. </p>
    </div>

    <br/><br/>
    <hr/>

    <div class="row">
        <div class="col-sm-4" th:style="'background-color: #F08080;'">Lowest score: </div>
        <div class="col-sm-8" th:style="'background-color: #F08080;'" th:text="${minScore}">5</div>
    </div>

    <div class="results_list">
        <div class="row" th:each="q : ${underMedian}">
            <div class="col-sm-4" th:style="'background-color:lightgray;'" th:text="${q.date}">Date</div>
            <div class="col-sm-4" th:style="'background-color:lavender;'" th:text="${q.domain.name}">Domain</div>
            <div class="col-sm-4" th:style="'background-color:lavenderblush;'" th:text="${q.score}">Score</div>
        </div>
    </div>
</div>
</body>
</html>