<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Learning Analytics Module</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>

    <style>
        .home_caption {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Learning Analytics Tool</h1>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="well">
                <h3> Why is it useful a Learning Analytics Tool? </h3>
                <p>Learning analytics is the measurement, collection, analysis and reporting of data
                    about learners and their contexts, for purposes of understanding and optimizing
                    learning and the environments in which it occurs.</p>


            </div>
        </div>
        <div class="col-sm-8">
            <img class="img-responsive" src="images/LA.jpg"/>
        </div>
    </div>

</div>

</body>
</html>