<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Learning Analytics Module</title>

    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"/>

    <style>
        .home_caption {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Data Analytics in Virtual Learning Environments</h1>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">
                <div class="well">

                <h3> Why is it useful a Learning Analytics Tool? </h3>
                <p>Learning analytics is the measurement, collection, analysis and reporting of data
                    about learners and their contexts, for purposes of understanding and optimizing
                    learning and the environments in which it occurs.</p>
                </div>



                <p><b> Descriptive Analytics: </b> Looks at data and analyzes past events for insight as to how to approach the future.
                    Descriptive analytics looks at past performance and understands that performance by mining historical data
                    to look for the reasons behind past success or failure.</p>

                <p><b> Diagnostic Analytics: </b> The purpose of the diagnostic analysis is not only to identify the strengths and the weakneasses,
                    but also to investigate why the user has these weak points (perhaps a lack of
                    information, a lack of practice or it is an isolated event, produced only once, caused
                    by the lack of attention).</p>

                <p><b> Predictive Analytics: </b> Turns data into valuable, actionable information. Predictive analytics uses data to
                    determine the probable future outcome of an event or a likelihood of a situation occurring.</p>

                <p><b> Prescriptive Analytics: </b>automatically synthesizes data to make predictions and then suggests decision
                    options to take advantage of the predictions.</p>

            </div>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="images/graph.jpg"/>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
                <div class="well">

                     <img class="img-responsive" src="images/LA-2.jpg"/>
                </div>
        </div>

        <div class="col-sm-4">
            <div class="well">
                <center><b>All users-data have been gathered from <a href="https://policat.herokuapp.com/"> PoliCAT Application</a></b>
                </center><hr/>
                <h3>You want to test your programming language theory before the exam? </h3>
                <p>Login and take the quiz adapted for your level. Find out if you're ready, and share the score
                    with your friends. Let the game begin!</p>
                <p><b>Good luck!</b></p>

                <a href="https://policat.herokuapp.com/" class="btn btn-success" role="button">Take a quiz! (requires account)</a>

            <hr/>
                <p> The Adaptive Quiz is comprised of questions selected from the question bank that are tagged with a score of their difficulty.
                    The questions are chosen to match the estimated ability level of the current test taker.
                    If the test taker succeeds on a question, a more challenging question is presented next.
                    If the test taker answers a question incorrectly, a less challenging question is presented next.
                    This technique will develop into a sequence of questions converging on the test taker's effective ability level.
                    The test stops when the test taker's ability is determined to the required accuracy.</p>

            </div>

        </div>
    </div>

</div>

</body>
</html>