<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Predictive Analytics</title>


</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Predictive Analytics</h1>
    </div>

    <div class="col-sm-10 text-left">
        <p>Predictive analytics turns data into valuable, actionable information. Predictive analytics uses data to
             determine the probable future outcome of an event or a likelihood of a situation occurring. </p>

    </div>
    <hr/>
</div>
</body>
</html>