<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Prescriptive Analytics</title>


</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Prescriptive Analytics</h1>
    </div>

    <div class="col-sm-10 text-left">
        <p>Prescriptive analytics automatically synthesizes data to make predictions and then suggests decision
            options to take advantage of the predictions. </p>

    </div>
    <hr/>
</div>
</body>
</html>