<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Prescriptive Analytics</title>


</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Prescriptive Analytics</h1>
    </div>

    <div class="col-sm-12 text-left" th:style="'border: 2px solid green; border-radius: 5px;'">
        <p>Prescriptive analytics automatically synthesizes data to make predictions and then suggests decision
            options to take advantage of the predictions. </p>
    </div>
    <br/><br/>
    <hr/>

    <div class="row">
        <div class="col-sm-4">Weakest tag: </div>
        <div class="col-sm-4" th:text="${weakestTag.name}">TagName</div>
    </div>

    <div class="row">
        <div class="col-sm-4">Tutorial: </div>
        <div class="col-sm-4" th:text="${weakestTag.link}">Link</div>
    </div>
</div>
</body>
</html>