<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Prescriptive Analytics</title>


</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Prescriptive Analytics</h1>
    </div>

    <div class="col-sm-12">
        <h3>How can we make it happen?</h3>
        <p>In this section, we automatically synthesize data from prediction and we suggest learning options to improve your performance and
            to take advantage of the predictions. Let's see where you had the weakest results and what is our recommendation:</p>
    </div>
    <br/><br/>
    <hr/>

    <div class="row">
        <div class="col-sm-6">

        <div class="well">Weakest tag: <div th:text="${weakestTag.name}">TagName</div></div>


        </div>

        <div class="col-sm-6">
        <div class="well">Tutorial:  <div th:text="${weakestTag.link}">Link</div></div>

        </div>
    </div>
</div>
</body>
</html>