<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Profile Summary </title>


</head>
<body>

<h5>&nbsp;&nbsp;&nbsp;Welcome! &nbsp; <a th:href="@{/logout}"><b>[Logout]</b></a></h5>


<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Profile Summary</h1>
    </div>

    <div class="col-sm-10 text-left">
        <p>User Profile Analysis Preview</p>

    </div>
    <hr/>
</div>
</body>
</html>