<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Profile Summary </title>


</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Profile Summary</h1>
    </div>

    <div class="col-sm-12 text-left" th:style="'border: 2px solid green; border-radius: 5px;'">
        <p>User Profile Analysis Preview</p>
    </div>
    <br/><br/>
    <hr/>

</div>
</body>
</html>