<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Profile Summary </title>


</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>User Profile Analysis Preview</h1>
    </div>

    <div class="row">
        <div class="col-sm-8">
            <h3>Descriptive Analysis: What happened?</h3>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-success pull-right" th:href="@{/analytics/summary/{id}/export(id=${user.id})}">Export Summary</a>
        </div>
    </div>
    <hr/>

    <!--<div class="results_list">
        <div class="row">
            <div class="col-sm-4" th:style="'background-color:black;color:white;'">Date</div>
            <div class="col-sm-4" th:style="'background-color:black;color:white;'">Domain</div>
            <div class="col-sm-4" th:style="'background-color:black;color:white;'">Score</div>
        </div>
        <div class="row" th:each="q : ${quizResults}">
            <div class="col-sm-4" th:style="'background-color:lightgray;'" th:text="${q.date}">Date</div>
            <div class="col-sm-4" th:style="'background-color:lavender;'" th:text="${q.domain.name}">Domain</div>
            <div class="col-sm-4" th:style="'background-color:lavenderblush;'" th:text="${q.score}">Score</div>
        </div>
    </div>-->
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Domain</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="q : ${quizResults}">
                <td th:text="${q.date}"></td>
                <td th:text="${q.domain.name}"></td>
                <td th:text="${q.score}"></td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-sm-4" th:style="'background-color: #98e698;'">User Level: </div>
        <div class="col-sm-4" th:style="'background-color: #98e698;'" th:text="${userLevel}">5</div>
        <div class="col-sm-4" th:style="'background-color: #98e698;'" th:text="${userLevelComparison}">Average</div>
    </div>
    <br/><br/>


    <div class="col-sm-12" >
        <h3>Diagnostic Analysis: Why did it happen? </h3>
    </div>
    <br/><br/>
    <hr/>

    <div class="row">
        <div class="col-sm-4" th:style="'background-color: #F08080;'">Lowest score: </div>
        <div class="col-sm-8" th:style="'background-color: #F08080;'" th:text="${minScore}">5</div>
    </div>

    <div class="results_list">
        <div class="row" th:each="q : ${underMedian}">
            <div class="col-sm-4" th:style="'background-color:lightgray;'" th:text="${q.date}">Date</div>
            <div class="col-sm-4" th:style="'background-color:lavender;'" th:text="${q.domain.name}">Domain</div>
            <div class="col-sm-4" th:style="'background-color:lavenderblush;'" th:text="${q.score}">Score</div>
        </div>
    </div>
    <br/><br/>



    <div class="col-sm-12" >
        <h3>Predictive Analysis: What will happen?</h3>
    </div>
    <br/><br/>
    <hr/>
    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>

    <section layout:fragment="scripts">
        <script th:src="@{/js/canvasjs.min.js}"></script>

        <script th:inline="javascript">
        var graphDataPoints = [[${graphDataPoints}]];

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                theme: "light2",
                title:{
                    text: "Test Results and Predictions"
                },
                axisX: {
                    includeZero: false,
                    interval: 1
                },
                axisY: {
                    includeZero: true
                },
                data: [{
                    type: "line",
                    dataPoints: graphDataPoints
                }]
            });
            chart.render();
        }
    </script>
    </section>
    <br/><br/>


    <div class="col-sm-12" >
        <h3>Prescriptive Analysis: How can we make it happen?</h3>
    </div>
    <br/><br/>

    <div class="row">
        <div class="col-sm-6">
            <div class="well">Weakest tag: <div th:text="${weakestTag.name}">TagName</div></div>
        </div>

        <div class="col-sm-6">
            <div class="well">Tutorial:  <div th:text="${weakestTag.link}">Link</div></div>
        </div>
    </div>
    <br/><br/>


    <div class="col-sm-12" >
        <h3> Learnogram </h3>
    </div>
    <br/><br/>
    <hr/>

    <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>

    <section layout:fragment="scripts">
        <script th:src="@{/js/canvasjs.min.js}"></script>

        <script th:inline="javascript">

          <!--grafic  -->


        </script>

    </section>



</div>
</body>
</html>