<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>View Users</title>
</head>
<body>

<div layout:fragment="content">
    <div class="jumbotron">
        <h1>Users Progress</h1>
    </div>

    <ol class="breadcrumb">
        <li class="active">Users</li>
    </ol>

    <h2>View users progress</h2>
    <div class="users_list">
        <div class="row" th:each="u : ${users}">
            <div class="col-sm-8" th:text="${u.username}">Username</div>
            <div class="col-sm-4">
                <a class="btn btn-primary" th:href="@{/analytics/summary/{id}(id=${u.id})}">View Metrics</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>